# Virtual environment
venv/
.env
.env

# Cache & pyc
__pycache__/
*.pyc
*.pyo
*.pyd

# OS files (macOS/Linux)
.DS_Store

# VS Code config (jika pakai)
.vscode/

# Log
*.log

# Ignore all hidden directories
.*/

# Ignore test files
test*
